<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Forecast</title>
    <link
      rel="stylesheet"
      th:href="@{/styles/forecast/forecast.css}"
      href="../static/styles/forecast/forecast.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/styles/global.css}"
      href="../static/styles/global.css"
    />
    <link
      rel="icon"
      th:href="@{/assets/rain-tab-light.png}"
      href="../static/assets/rain-tab-light.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      th:href="@{/assets/rain-tab-dark.png}"
      href="../static/assets/rain-tab-dark.png"
      media="(prefers-color-scheme: dark)"
    />
  </head>
  <body>
    <main>
      <div id="app" class="app">
        <div class="app-container">
          <div class="button-container">
            <a id="btn-weather" th:href="weather"
              ><button class="button input">Back</button></a
            >
          </div>
          <h1>The next five days in Basel</h1>
          <div class="forecast-container">
            <div class="forecast-info">
              <ul>
                <li>
                  <img
                    th:src="@{/assets/sun.png}"
                    src="../static/assets/sun.png"
                    alt=""
                  />
                  <h3>-2&#176;C</h3>
                </li>
                <div class="separator-horizontal"></div>
                <li>
                  <img
                    th:src="@{/assets/sun.png}"
                    src="../static/assets/sun.png"
                    alt=""
                  />
                  <h3>-2&#176;C</h3>
                </li>
                <div class="separator-horizontal"></div>
                <li>
                  <img
                    th:src="@{/assets/sun.png}"
                    src="../static/assets/sun.png"
                    alt=""
                  />
                  <h3>-2&#176;C</h3>
                </li>
                <div class="separator-horizontal"></div>
                <li>
                  <img
                    th:src="@{/assets/sun.png}"
                    src="../static/assets/sun.png"
                    alt=""
                  />
                  <h3>-2&#176;C</h3>
                </li>
                <div class="separator-horizontal"></div>
                <li>
                  <img
                    th:src="@{/assets/sun.png}"
                    src="../static/assets/sun.png"
                    alt=""
                  />
                  <h3>-2&#176;C</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      type="text/javascript"
      th:src="@{/js/forecast.js}"
      src="../static/js/forecast.js"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/js/global.js}"
      src="../static/js/global.js"
    ></script>
  </body>
</html>
