<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forecast</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="icon" href="../static/assets/rain-tab.png"/>
</head>
<body>
<nav>
</nav>
<main>
    <div id="app" class="app">
        <div class="app-container">

        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/js/main.js}"></script>
<footer>
</footer>
</body>
</html>