<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login-Page</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Home</a>
</nav>
<main role="main">
    <div class="container">
        <form id="login-form" method="post" action="/api/v1/login">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <!-- a button with type 'reset' will delete all the input in the current form and set fields like dropdowns, checkboxes etc. to their initial value defined in the form -->
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</main>

<script type="text/javascript" th:src="@{/js/functions.js}"></script>
</body>
<footer>
    <!-- Could add some stuff here -->
</footer>
</html>